*.iml
.gradle/
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.idea/
/.idea/
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/runConfigurations.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/libraries/
/.idea/workspace.xml
/.idea/copyright/
/build/
